@page
@model CoursesApp.Pages.Students.DeleteModel
@{
    ViewData["Title"] = "Delete Student";
}

<h2>Delete Student</h2>
@if (!string.IsNullOrWhiteSpace(Model.errorMessage))
{
            <p class="text-danger font-weight-bold">@Model.errorMessage</p>
}