@page
@model CoursesApp.Pages.Students.IndexModel
@{
    ViewData["Title"] = "Students";
}

<h2>List of Students</h2>
<a class="btn btn-primary btn-sm btn-dark" href="/Students/Create">New Student</a>

<table class="table table-striped">

    <thead class="thead-light">
        <tr>
            <th>ID</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @if (Model.students is not null) {
            @foreach(var student in Model.students) {
                <tr>
                    <td>@student.Id</td>
                    <td>@student.Firstname</td>
                    <td>@student.Lastname</td>
                    <td>
                        <div class="text-end">
                            <a class="btn btn-primary btn-sm btn-dark" href="/Students/Update?id=@student.Id">Update</a>
                            <a class="btn btn-primary btn-sm btn-danger" href="/Students/Delete?id=@student.Id">Delete</a>
                        </div>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
