@page
@model CoursesApp.Pages.Courses.DeleteModel
@{
    ViewData["Title"] = "Delete Course";
}

<h2>Delete Course</h2>
@if (!string.IsNullOrWhiteSpace(Model.errorMessage))
{
            <p class="text-danger font-weight-bold">@Model.errorMessage</p>
}