@page
@model CoursesApp.Pages.Courses.DeleteModel
@{
    ViewData["Title"] = "Delete Course";
}

<h2>Delete Course</h2>
@if (!string.IsNullOrWhiteSpace(Model.errorMessage))
{
            <h2><strong>@Model.errorMessage</strong></h2>
}