@page
@model CoursesApp.Pages.Courses.IndexModel
@{
    ViewData["Title"] = "Courses";
}

<h2>List of Courses</h2>
<a class="btn btn-primary btn-sm btn-dark" href="/Courses/Create">New Course</a>

<table class="table">

    <thead>
        <tr>
            <th>ID</th>
            <th>Description</th>
            <th>Teacher</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @if (Model.courses is not null) {
            @foreach (var course in Model.courses)
            {
                <tr>
                    <td>@course.Id</td>
                    <td>@course.Description</td>
                    <td>@course.TeacherFullName</td>
                    <td>
                        <div class="text-end">
                            <a class="btn btn-primary btn-sm btn-dark" href="/Courses/Update?id=@course.Id">Update</a>
                            <a class="btn btn-primary btn-sm btn-danger" href="/Courses/Delete?id=@course.Id" onclick="return confirm('Delete Course?');">Delete</a>
                        </div>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
