<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CoursesApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CoursesApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3 topnav">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">CoursesApp</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-page="/Index" title="Home"><i class="fa fa-fw fa-home"></i></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Students</a>
                            <ul class="dropdown-menu bg-dark">
                                <li><a class="nav-link text-light dropdown-item" asp-area="" asp-page="/Students/Index">List of Students</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="nav-link text-light dropdown-item" asp-area="" asp-page="/Students/Create">New Student</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Teachers</a>
                            <ul class="dropdown-menu bg-dark">
                                <li><a class="nav-link text-light dropdown-item" asp-area="" asp-page="/Teachers/Index">List of Teachers</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="nav-link text-light dropdown-item" asp-area="" asp-page="/Teachers/Create">New Teacher</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Courses</a>
                            <ul class="dropdown-menu bg-dark">
                                <li><a class="nav-link text-light dropdown-item" asp-area="" asp-page="/Courses/Index">List of Courses</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="nav-link text-light dropdown-item" asp-area="" asp-page="/Courses/Create">New Course</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Student - Courses</a>
                            <ul class="dropdown-menu bg-dark">
                                <li><a class="nav-link text-light dropdown-item" asp-area="" asp-page="/StudentCourses/Index">List of Student - Courses</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="nav-link text-light dropdown-item" asp-area="" asp-page="/StudentCourses/Create">New Student - Course</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - CoursesApp
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>