@page
@model CoursesApp.Pages.Teachers.DeleteModel
@{
    ViewData["Title"] = "Delete Teacher";
}

<h2>Delete Teacher</h2>
@if (!string.IsNullOrWhiteSpace(Model.errorMessage))
{
            <p class="text-danger font-weight-bold">@Model.errorMessage</p>
}